.modalBackground {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgb(66, 6, 105) 2px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.plhdl {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.plhdl input {
  margin: 20px;
  width: 65vh;
  height: 40px;
  border-radius: 8px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  border: none;
  padding: 10px 70px;
  cursor: pointer;
  background-color: rgb(66, 6, 105);
  color: white;
  border-radius: 6px;
  transition: background 0.3s;
}

#cancelBtn {
  background-color: rgb(66, 6, 105);
}
