*{
  margin: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-track{
  background-image: linear-gradient(rgb(56, 5, 90),rgb(215, 180, 255)) ; 
}

::-webkit-scrollbar-thumb{
  background-image: linear-gradient(rgb(66, 6, 105), rgb(215, 180, 255));
  border-radius: 25px;
}
